
.body-cad-tarefa {
  font-family: Arial, sans-serif;
  background-color: rgb(138, 43, 226);
  margin: 0;
  padding: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  
}

.titulo-cad-tarefa {
  color: #333;
  margin-top: 150px;
  font-size: 24px;
}

form {
  background-color: #fff;
  padding: 25px 30px;
  border-radius: 10px;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.1);
  width: 100%;
  max-width: 400px;
  display: flex;
  flex-direction: column;
  gap: 15px;
  
}

.input-tarefa-usuario,
.input-setor,
.text-descricao,
.prioridade-tarefa {
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 6px;
  font-size: 16px;
  width: 100%;
  box-sizing: border-box;
}

.text-descricao {
  resize: vertical;
  min-height: 80px;
  max-height: 200px;
}

.prioridade-tarefa {
  background-color: #fff;
}

.bot-criar-tarefa[type="submit"] {
  padding: 12px;
  background-color: rgb(138, 43, 226);
  color: #fff;
  font-size: 16px;
  border: none;
  border-radius: 6px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.bot-criar-tarefa[type="submit"]:hover {
  background-color: rgb(106, 33, 174);
}

.gerenciar-tarefas{
  text-decoration: none;
  background-color: #fff;
  margin-top: 25px;
  padding: 10px;
  border-radius: 10px;
}
